@import '../../style/abstracts/colors';

.task-details {
  min-width: 350px;
  padding: 30px;
  max-width: 450px;
  position: relative;
  border-radius: 10px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h3 {
      font-size: 16px;
      margin-right: 20px;
      -ms-word-break: break-all;
      word-break: break-all;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
    .elp-icon {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  p {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .subtasks {
    h4 {
      margin-bottom: 20px;
      font-size: 14px;
    }
    ul.subtask-list {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        input[type='checkbox'] {
          margin-right: 10px;
        }
        .subtask-done {
          text-decoration: line-through;
        }
        label {
          cursor: pointer;
          -ms-word-break: break-all;
          word-break: break-all;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
          font-size: 12px;
          font-weight: 600;
        }

        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }
}
