$text-light: #fff;
$text-dark: #000;
$background-light: #fff;
$background-light-2: rgb(228, 228, 228);
$background-dark: #21222d;
$background-dark-2: #2c2c37;
$text-static: #656875;
$primary: #8c52ff;
