$text-light: #fff;
$text-dark: #464646;
$background-light: #fff;
$background-light-2: rgb(228, 228, 228);
$background-dark: #21222d;
$background-dark-2: #2c2c37;
$background-dark-3: #4c4c4c;
$text-static: #8f9199;
$primary: #8c52ff;
$primary-dark: #4d2c91;
$primary-light: #b085f5;
$danger: #bb2124;
$warning: #ffff00;
