@import '../../style/abstracts/colors';
.board {
  display: flex;
  gap: 30px;
  padding: 20px;
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 77px);
  .column {
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      h4 {
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-size: 12px;
        font-weight: 500;
        min-width: 300px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        cursor: pointer;
        min-width: 300px;
        padding: 15px;
        border-radius: 10px;
        h4 {
          padding-bottom: 10px;
        }

        p {
          background-color: transparent;
        }
      }
    }
  }

  .create-new-column {
    margin-top: 35px;
    padding: 20px;
    min-width: 300px;
    font-weight: 600;
    border: 1px solid rgba($color: $primary, $alpha: 0.3);
    background: transparent;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }
}
