@import '../../style/abstracts/colors';
.board::before,
.board::after {
  content: '';
}
.board {
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 77px);
  .board-content {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .board-column-actions-container {
    min-height: 0;
    opacity: 0;
    transition: all 150ms ease-in;
    overflow: hidden;
    padding: 10px 20px;

    display: flex;
    align-items: center;

    .action-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 12px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 5px;
      color: #fff;
      background-color: transparent;
      font-weight: 700;

      &:hover {
        color: #fff !important;
      }

      span {
        :last-child {
          margin-right: 10px;
        }
      }
    }

    .update-column {
      border: 1px solid $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .delete-column {
      border: 1px solid $danger;
      color: $danger;

      &:hover {
        background-color: $danger;
        border-color: $danger;
      }
    }
  }

  .board-column-actions-container.active {
    min-height: 50px;
    opacity: 1;
    overflow: auto;
  }
  .column {
    height: 40rem;
    min-width: 350px;
    transition: width, min-width 400ms ease-in-out;
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      button.circle {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }

      h4 {
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-size: 12px;
        font-weight: 500;
        min-width: 300px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      .task {
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;

        h4 {
          padding-bottom: 10px;
          font-size: 14px;

          transition: all 100ms ease-in;
        }

        p {
          background-color: transparent;
          font-size: 14px;
        }
        &.active {
          display: block;
          min-width: 350px;
          overflow: auto;
        }
      }
    }
    &.deactive {
      min-width: 0;
      width: 0;
      overflow: hidden !important;
    }
  }

  .create-new-column {
    margin-top: 35px;
    padding: 20px;
    min-width: 300px;
    font-weight: 600;
    border: 1px solid rgba($color: $primary, $alpha: 0.3);
    background: transparent;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
    width: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
    pointer-events: all;
    width: 350px;
    overflow: auto;
  }
}
