@import '../../style/abstracts/colors';
.board::before,
.board::after {
  content: '';
}
.board {
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 101.2px);

  .board-column-actions-container {
    max-height: 50px;
    overflow: hidden !important;
    transition: all 150ms ease-in;
    padding: 10px;
    display: flex;
    align-items: center;
    transform-origin: top;

    .action-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px 12px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 5px;
      color: #fff;
      background-color: transparent;
      font-weight: 700;

      &:hover {
        color: #fff !important;
      }

      span {
        :last-child {
          margin-right: 10px;
        }
      }
    }

    .update-column {
      border: 1px solid $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .delete-column {
      border: 1px solid $danger;
      color: $danger;

      &:hover {
        background-color: $danger;
        border-color: $danger;
      }
    }
  }

  .board-column-actions-container.active {
    min-height: 50px;
  }

  .board-content {
    display: flex;
    padding: 10px;
    column-gap: 5px;
  }

  .column {
    min-height: 65vh;
    min-width: 350px;
    transition: width, min-width 400ms ease-in-out;
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      button.circle {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
      }

      h4 {
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-size: 12px;
        font-weight: 800 !important;
        min-width: 300px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      min-height: 100%;
      border-radius: 5px;

      &.empty {
        border: 2px dashed $text-static;
      }
    }
    &.deactive {
      max-width: 0 !important;
      width: 0 !important;
      overflow: hidden !important;
    }
  }

  .create-new-column {
    margin-top: 35px;
    padding: 20px;
    min-width: 300px;
    font-weight: 600;
    background: transparent;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
    font-weight: 700;
    font-size: 24px;
    &:hover {
      color: $primary;
    }

    &.dark {
      background: rgb(44, 44, 55);
      background: linear-gradient(180deg, rgba(44, 44, 55, 1) 50%, rgba(33, 34, 45, 1) 92%);
    }

    &.light {
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(244, 247, 253, 1) 92%);
    }
  }
}
