@import '../../style/abstracts/colors';

.list {
  list-style-type: none;
  border-radius: 5px;

  .list-item {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid rgba($color: gray, $alpha: 0.2);
    cursor: pointer;
    border-radius: 5px;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $primary;
    }
  }
}
