.layout-main {
  display: flex;

  .left {
    overflow: hidden;
    min-height: 80vh;
    min-width: 300px;
    flex: 1;
    transition: all 200ms ease-out;
  }

  .left--close {
    flex: inherit;
    min-width: 0;
    width: 0;
    overflow: hidden;
  }

  .right {
    position: relative;
    flex: 5;
  }
}

.main-overlay {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
