@import '../../style/abstracts/colors';

.topbar.line-light {
  border-bottom: 1px solid rgba($color: $background-light-2, $alpha: 0.1);
}

.topbar.line-dark {
  border-bottom: 1px solid rgba($color: $background-dark-2, $alpha: 0.1);
}

.topbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100vw - 300px);
  width: 100%;
  padding: 20px;
  max-height: 100px;
  h2 {
    display: flex;
    align-items: center;
    button {
      margin-right: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .actions {
    display: flex;
    gap: 10px;
    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      cursor: pointer;
    }

    .new-task-button {
      text-transform: capitalize;
      font-weight: bold;
      padding: 10px;
      color: #fff;
    }

    .menu-icon {
      background-color: transparent;
    }
  }
}

// FOR NEW TASK MODAL, YOU SHOULD MOVE THESE CODES TO A SEPERATE COMPONENT LATER
