@import '../../style/abstracts/colors';

.topbar.line-light {
  border-bottom: 1px solid rgba($color: $background-light-2, $alpha: 0.1);
}

.topbar.line-dark {
  border-bottom: 1px solid rgba($color: $background-dark-2, $alpha: 0.1);
}

.topbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  width: 100% !important;
  padding: 20px;
  max-height: 100px;
  height: 100.2px !important;
  h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    button {
      margin-right: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .actions {
    display: flex;
    gap: 10px;
    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
    }

    .new-task-button {
      text-transform: capitalize;
      font-weight: bold;
      padding: 10px;
      color: #fff;

      .new-task-small {
        display: none;
        font-size: 24px;
      }

      .new-task-wide {
        display: block;
      }

      &:hover {
        background-color: $primary-light;
      }
    }

    .menu-icon {
      background-color: transparent;
    }

    .icon-link-container {
      display: flex;
      align-items: center;
      background-color: transparent;
      font-size: 16px;
      text-transform: lowercase !important;
      font-weight: 600;

      span {
        margin-left: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .topbar {
    .actions {
      .new-task-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        .new-task-wide {
          display: none !important;
        }
        .new-task-small {
          display: block;
        }
      }
    }
  }
}
