@import '../../style/abstracts/colors';

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 45px;
  min-height: 30px;
  border-radius: 20px;
  background-color: aliceblue;
  .switch-ball {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    margin: 3px;
  }
}

.switch-container[data-ison='true'] {
  justify-content: flex-end;
  background-color: $primary;
  .switch-ball {
    background-color: white;
  }
}
