@use '../abstracts/colors' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  .text {
    color: $text-dark;
  }

  .background {
    background-color: $background-light;
  }

  .background-2 {
    background-color: $background-light-2;
  }

  .text-static {
    color: $text-static;
  }
}

.dark {
  .text {
    color: $text-light;
  }

  .background {
    background-color: $background-dark;
  }

  .background-2 {
    background-color: $background-dark-2;
  }

  .text-static {
    color: $text-static !important;
  }
}

.text-danger {
  color: $danger !important;
}

.text-warning {
  color: $warning !important;
}

.primary-background {
  background-color: $primary;
}

.primary-color {
  color: $primary;
}

.hover--bg-danger {
  background-color: $danger !important;
}

.bg-danger {
  background-color: $danger !important;
}
