@import '../../style/abstracts/colors';

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);

  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: all 250ms ease-out;

  .modal {
    display: flex;
    transition: all 250ms ease-out;
    pointer-events: none;
    opacity: 0;
    transform: translateY(50px);

    max-height: 80%;
    display: flex;
    flex-direction: column-reverse; /* CHANGED */
    align-items: flex-end;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: red;
    scrollbar-color: $primary #fff;
  }

  .modal--active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

.overlay--active {
  opacity: 1;
  pointer-events: all;
}

.not-rounded {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
