@import './abstracts/colors';

.flash-error {
  animation-name: error-flash;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

@keyframes error-flash {
  from {
    opacity: 0.8;
    background-color: $danger;
  }
  to {
    opacity: 1;
    background-color: inherit;
  }
}
