@import './base/reset';
@import './abstracts/fonts';
@import './abstracts/colors';

html {
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
}

.error-text {
  color: red;
  font-size: 14px;
  padding: 10px 0;
}

.hover-danger:hover {
  background-color: $danger !important;
}
