@import './base/reset';
@import './abstracts/fonts';
@import './abstracts/colors';

html {
  font-family: 'Inter', sans-serif;
}

body {
  overflow: hidden;
}

.error-text {
  color: red;
  font-size: 14px;
  padding: 10px 0;
}

.hover-danger:hover {
  background-color: $danger !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  label {
    font-size: 14px;
    margin-bottom: 7px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
  }

  input {
    background-color: transparent;
    border: 1px solid $text-static;
    padding: 10px;
    color: $text-static;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;

    &::placeholder {
      color: #656875;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    color: $text-static;
    font-size: 14px;
    border-radius: 5px;

    &::placeholder {
      color: #656875;
    }

    &:focus {
      outline: none;
    }
  }

  select {
    background-color: transparent;
    border: 1px solid gray;
    padding: 5px;
    color: $text-static;
    font-size: 14px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    color: $primary;
    background-color: white;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
  }

  .input-list {
    margin-bottom: 10px;
    .input-icon-container {
      display: flex;
      align-items: center;

      input {
        margin-right: 5px;
      }

      button {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.submit-form-button {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba($color: $primary, $alpha: 0.5);
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-out;

  &:hover {
    background-color: $primary;
  }
}

button {
  font-family: Inter, 'sans-serif';
  text-transform: uppercase !important;
}

button:disabled {
  background-color: #656875 !important;
  opacity: 0.8;
  cursor: initial !important;
}

input {
  font-family: Inter, 'sans-serif';
}

.none {
  display: none !important;
}
