@import '../../style/abstracts/colors';
/* The container */
.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;

  .checkbox-label {
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 500;
    color: #656875;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked, add a blue background */
    &:checked ~ .checkmark {
      background-color: $primary !important;
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    border-radius: 5px;
    display: flex;
    width: 25px;
    height: 25px;
    color: #ffffff;
    margin-right: 10px;
    align-items: center;
    justify-content: center;

    .checkmark-item {
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: bottom;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background: rgb(159, 46, 159) !important;
  }
}
