.sub-menu {
  position: relative;
  .body {
    position: absolute;
    top: 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
    z-index: 999 !important;
    min-width: 150px;
  }

  .body--active {
    pointer-events: all;
    opacity: 1;
  }

  .left-align {
    left: 0 !important;
  }

  .right-align {
    right: 0 !important;
  }

  .center-align {
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }

  .right-align-out {
    right: 0 !important;
    transform: translateX(100%) !important;
    -webkit-transform: translateX(100%) !important;
  }

  .left-align-out {
    left: 0 !important;
    transform: translateX(-100%) !important;
    -webkit-transform: translateX(-100%) !important;
  }
}
