.overlay {
  .modal {
    transition: all 250ms ease-out;
  }
  .modal-active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .modal-passive {
    pointer-events: none;
    opacity: 0;
    transform: translateY(30px);
  }
}
