@import '../../style/abstracts/colors';

.add-new-task-form {
  position: relative;
  max-width: 90vw;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  h3 {
    text-transform: capitalize;
    font-size: 18px;
  }

  & > * {
    margin-bottom: 20px;
  }

  // stoled from here...

  .submit-form-button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    background-color: $primary;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }
}
