@import '../../style/abstracts/colors';

.add-new-task-form {
  position: relative;
  min-width: 400px;
  padding: 20px;
  h3 {
    text-transform: capitalize;
    font-size: 16px;
  }

  & > * {
    margin-bottom: 20px;
  }

  // stoled from here...

  .submit-form-button {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    background-color: $primary;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
  }
}
